<% if (messages.info) { %>
    <% messages.info.forEach(content => { %>
        <div class="alert alert-info rtl-font text-center" role="alert">
            <%= content %>
        </div>
    <% }) %>
<% } %>
<% if (messages.error) { %>
    <% messages.error.forEach(content => { %>
        <div class="alert alert-danger" role="alert">
            <%= content %>
        </div>
    <% }) %>
<% } %>