<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center pe-3 ps-3 py-3 my-4 shadow-box-1 rounded" style="background-color:#2b2e31;">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© تمام حقوق برای این سایت محفوظ می باشد</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <img src="images/trust/kasbokar.png" alt="" style="width: 11vh;">
            <img src="images/trust/rezi.png" alt="" style="width: 13vh;">
        </ul>
    </footer>
</div>