<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Header -->
<title>
    <%= title %>
</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- JQuery -->
<script src="/jquery/jquery.min.js"></script>

<!-- Style -->
<link rel="stylesheet" href="/css/global.style.css">

<!-- Global Scripts -->
<script src="/js/global.script.js"></script>
<script src="/js/color.script.js"></script>