<nav class="navbar navbar-expand-lg bg-body-tertiary p-2 m-4 shadow-box-1 rounded">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img id="logo" src="/images/logo.svg" alt="logo" style="width:80px;height:50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#special-products">محصولات ویژه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#products">محصولات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about-me">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about-me">تماس با ما</a>
                </li>
            </ul>
            <span class="navbar-nav">
                <button class="btn btn-outline-info" data-link="/signin">ورود</button>
                <div class="p-1"></div>
                <button class="btn btn-outline-danger" data-link="/signout">خروج</button>
            </span>
        </div>
    </div>
</nav>