<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./includes/head") %>
    <style>
        body {
            background-color: brown;
        }
    </style>
</head>

<body class="container-fluid vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
        <h2><h3><%= message %></h3></h2>
        <span>Status Code : <%= code %></span>
    </div>
</body>

</html>