<nav class="navbar navbar-expand-lg bg-body-tertiary p-2 shadow-box-1 rounded m-4">
    <a href="/dashboard" class="navbar-brand">
        <img id="logo" src="/images/logo.svg" alt="logo" style="width:80px;height:50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/profile">پروفایل</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/products">محصولات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/settings">تنظیمات</a>
            </li>
        </ul>
        <span class="navbar-nav">
            <button class="btn btn-outline-danger" data-link="/signout">خروج</button>
        </span>
    </div>
</nav>