@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir.ttf);
}

* {
    font-family: Vazir;
}

html {
    direction: rtl;
}

/*
* shadow styles
*/
.shadow-box-1 {
    box-shadow: 4px 4px 8px 0px #00000040;
}

/*
* td - ul - font style
*/
td ul {
    list-style-type: none;
}

td a {
    text-decoration: none;
}

.rtl-font {
    font-family: Vazir !important;
}